name: springboot2-jpa-swagger3

on:
  push:
    paths:
      - "springboot2-jpa-swagger3/**"
    branches: [master]
  pull_request:
    paths:
      - "springboot2-jpa-swagger3/**"
    types:
      - opened
      - synchronize
      - reopened

jobs:
  build:
    name: Run Unit & Integration Tests
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: springboot2-jpa-swagger3
    steps:
      - uses: actions/checkout@1d96c772d19495a3b5c517cd2bc0cb401ea0529f # v4
        with:
          fetch-depth: 0 # Shallow clones should be disabled for a better relevancy of analysis

      - name: Set up JDK 21
        uses: actions/setup-java@v4.2.1
        with:
          java-version: 21
          distribution: "temurin"
          cache: "maven"
      - name: Build and analyze
        run: ./mvnw clean package
